
.patient-type-modal-body{
  height: 23rem !important;
  margin: 25vh 0vh;
}
#patientTypeModal span{
  color: #1768F3;
}

.info-register{
  font-size: 9rem;
  color: #1768F3;
}
.red-border{
        /* border: 1px solid red  !important; 
         */
         outline: 0 !important;

         box-shadow: 0 0 0 0.08rem red !important;
         transform: scaleY(1.15);
}

.arrow-exist-modal{
  width: 5rem !important;
  color: #1768F3;
  font-size: 4rem;
  text-align: right !important;
}

[class^="reg-info-icon"]{
  width: 43% !important;
  margin: auto;
}
/* #verifyPatientExist{
  margin: auto !important ;
  position: relative;
} */
/* @keyframes mymove {
  0%   {top: -1px;}
  100% {top: 1px;}
} */

.loading-div-bg{
  width: 50% !important;
  /* margin: 0px, auto !important; */
  margin-left: 42% !important;
}