@import"../../root.css";


.procedure-management-div .container {
    background-color: var(--background-color);
    border: 4px solid var(--company-color);
}

.procedure-management-div input{
    width: 100%;
    border: 1px solid var(--border-color);
    padding: 5px 2px;
}

.procedure-management-div select{
    width: 50%;
    border: 1px solid var(--border-color);
    padding: 8px 2px;
}

.procedure-management-div .procedure-table-row {
    height: 530px;
    max-height: 530px;
}

.procedure-modal-body input {
    width: 100%;
    padding: 2px 3px;
    border: 1px solid var(--border-color);
}
.procedure-modal-body select {
    width: 100%;
    padding: 5px 3px;
    border: 1px solid var(--border-color);
}
.procedure-modal-body .row {
    padding: 5px 0px ;
}